body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
}


.section-title {
    color: #2ddf5c;


}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;

}

