body {
    font-family: sans-serif;
}

#assignment-instructions {
    color: red;
    font-family: sans-serif;
}

.second-li code {
    color: green;
}

code {
    font-family: monospace;
    color: red;
}

li~li {
    background: black;
    color: white;
}

ol li {
    background: black;
    color: white;
}