
.box {
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border:1px solid black;
    display: inline-block;
    box-sizing: border-box;
}

.first-box {
    height: 300px;
    width: 50%;
    
}

body{
    height: 100%;
}

html{
    height: 100%;
}
div:last-of-type:hover{
    background: red;
}