body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}

#product-overview {
    background: url(/freedom.jpg);
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header {
    background: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 76px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;

}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;

}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    padding: 3px 0;
    font-weight: bold;
}


.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
       border-bottom: 5px solid white;
    
}

.main-nav__item--cta a{
    color: white;
    background:#ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a :active{
    color: #ff1b68;
    background:white;
    border: none;
   
}
* {
    box-sizing: border-box;
}

/* h1 {
    font-family: sans-serif;
} */