@font-face {
    font-family: "AnonymousPro";
    src: url("AnonymousPro-Regular.ttf");
}

@font-face {
    font-family: "AnonymousProBold";
    src: url("AnonymousPro-Bold.ttf");
}

main {
    padding-top: 2rem;
}

.background {
    background: url(../images/plans-background.jpg) center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package-overview {
    border: 4px solid #0e4f1f;
    width: 80%;
    background: #d5ffdc;
    margin: 1rem 0;
    border-left: none;
    position: relative;
    overflow: hidden;
}

.package-overview:hover,
.package-overview:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
    animation: move-up 1s ease-out forwards;
}

.package-overview a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.package-overview__badge {
    position: absolute;
    top: 0;
    right: 0px;
    margin: 0;
    font-size: 0.8rem;
    color: #fff;
    background: #ff5454;
    padding: 0.5rem;
    transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;
}

.package-overview__title {
    color: black;
    font-size: 1.4rem;
}

.package-overview__subtitle {
    color: #979797
}

.package-overview__content {
    border: 1px #0e4f1f solid;
    padding: 1rem;
    background: #fff;
    font-size: 1.3rem;
    color: #0e4f1f;
    font-family: "AnonymousProBold", sans-serif;
    

}

.clearfix {
    clear: both;
}

#plus-plan {
    background: rgba(213, 255, 220, 0.95);
}

#free-plan {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border: 4px solid #0e4f1f;
    border-right: none;
    text-align: right;
}

#free-plan:hover,
#free-plan:active {
    border-color: #ff5454;
}

#premium-plan {
    background: rgba(14, 79, 31, 0.95);

}

#premium-plan .package-overview__title {
    color: #fff;
}

#premium-plan .package-overview__subtitle {
    color: #bbb;
}

@media(min-width:40rem) {
    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width:1500px) {
    .package-overview {
        border-left: 4px solid #0e4f1f;
    }

    #free-plan {
        border-right: 4px solid #0e4f1f;
    }
}

@keyframes move-up {
    0% {
        transform: translateY();
    }

    33% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(-1rem);
    }
}