main {
    padding-top: 2.5rem;
}

.testimonial {
    font-size: 1.2rem;
}

.testimonial__image-container {
    transform: skew(20deg);
    max-width: 40rem;
    overflow: hidden;
    max-width: 60%;
    
}
#customer-1:hover .testimonial__image-container{
    animation: flip-customer 1s ease-out forwards;
}

.testimonial__image {
    width: 100%;
    vertical-align: top;
    transform: skew(-20deg) scale(1.4);
}

.testimonial__info {
    text-align: right;
    padding: .9rem;

}

#customer-2.testimonial {
    text-align: right;
}

#customer-2 .testimonial__info {
    text-align: left;
}

.testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
}

.testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;

}

.testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
    color: #7a7a7a;
}

.testimonial__text {
    margin: 0.2rem;
}

@media(min-width:40rem) {
    .testimonial {
        margin: 3rem auto;
        max-width: 1500px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .testimonial__list {
        width: 80%;
        margin: auto;
    }

    .testimonial__image-container {
        width: 65%;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
    }

    .testimonial__info {
        width: 30%;
    }

}

@keyframes flip-customer {
    0%{
        transform: rotateY(0) skew(20deg);
    }
    50%{
        transform: rotateY(160deg) skew(20deg);
    }

    100%{
        transform: rotateY(360%) skew(20deg);
    }
}